chefsculinar-n8n-workflow.json
{
  "name": "ChefsCulinar Order",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "chefsculinar-order",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      }
    },
    {
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://www.chefsculinar.se/api/auth/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "_n", "value": "1"},
            {"name": "_u", "value": "1"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"EmailAddress\": \"t.do@swenam.se\",\n  \"Password\": \"cavass\",\n  \"RememberMe\": false,\n  \"ReturnUrl\": \"\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "name": "Get Basket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300],
      "parameters": {
        "method": "GET",
        "url": "https://www.chefsculinar.se/api/checkout/basket",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "validate", "value": "true"},
            {"name": "_n", "value": "1"},
            {"name": "_u", "value": "1"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Cookie", "value": "={{ $('Login').item.json.headers['set-cookie'].join('; ') }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Put Basket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 300],
      "parameters": {
        "method": "PUT",
        "url": "https://www.chefsculinar.se/api/checkout/basket",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "Id", "value": "={{ $('Get Basket').item.json.Model.Id }}"},
            {"name": "validate", "value": "false"},
            {"name": "_n", "value": "1"},
            {"name": "_u", "value": "1"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Cookie", "value": "={{ $('Login').item.json.headers['set-cookie'].join('; ') }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Products: $('Webhook').item.json.body.products.map((p, i) => ({ ProductId: parseInt(p.chefsculinar_id), Quantity: p.quantity, SalesUnit: { Code: p.unit || 'st', Quantity: p.unit_qty || 1 }, Tracking: { ListName: 'FavoriteList/PLP/PLP', Position: i + 1 } })) }) }}",
        "options": {}
      }
    },
    {
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      }
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Login", "type": "main", "index": 0}]]},
    "Login": {"main": [[{"node": "Get Basket", "type": "main", "index": 0}]]},
    "Get Basket": {"main": [[{"node": "Put Basket", "type": "main", "index": 0}]]},
    "Put Basket": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  }
}
