tingstad-n8n-workflow.json
{
  "name": "Tingstad Cart (no submit)",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "path": "tingstad-order",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      }
    },
    {
      "name": "Pick Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "notes": "Per-store Tingstad credentials. Each wOrder order belongs to ONE location, so each run logs into ONE account. EDIT the accounts map: key by location_name (readable) or location_id (stable UUID). Passwords live ONLY here in n8n, never in wOrder/Supabase.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── EDIT THIS MAP: one entry per store ──────────────────────────────\n// Key by location_name (what staff see) or location_id (UUID from wOrder).\nconst accounts = {\n  \"Woso Emporia\":   { username: \"REPLACE_USER_1\", password: \"REPLACE_PASS_1\" },\n  \"Another Store\":  { username: \"REPLACE_USER_2\", password: \"REPLACE_PASS_2\" },\n};\n// ────────────────────────────────────────────────────────────────────\nconst body = $('Webhook').first().json.body || {};\nconst acc = accounts[body.location_id] || accounts[body.location_name];\nif (!acc) throw new Error('No Tingstad account configured for location: ' + (body.location_name || body.location_id));\nreturn [{ json: { username: acc.username, password: acc.password } }];"
      }
    },
    {
      "name": "Get Login Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [620, 300],
      "notes": "GET login page to receive any initial session cookie before posting credentials.",
      "parameters": {
        "method": "GET",
        "url": "https://www.tingstad.com/se-sv/kundkonto/logga-in",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [820, 300],
      "notes": "Form POST to /UserLogin/LoginUser (no anti-forgery token observed). Credentials come from the Pick Account node. fullResponse captures the auth Set-Cookie.",
      "parameters": {
        "method": "POST",
        "url": "https://www.tingstad.com/UserLogin/LoginUser",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Cookie", "value": "={{ ($('Get Login Page').item.json.headers['set-cookie'] || []).map(c => c.split(';')[0]).join('; ') }}"},
            {"name": "X-Requested-With", "value": "XMLHttpRequest"}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/x-www-form-urlencoded",
        "body": "={{ 'Username=' + encodeURIComponent($('Pick Account').item.json.username) + '&Password=' + encodeURIComponent($('Pick Account').item.json.password) + '&RememberMeChecked=false' }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "name": "Build Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300],
      "notes": "Fan out one item per product, each carrying the merged session cookie. amount = wOrder quantity (packages).",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cookiesFrom = (node) => {\n  const sc = $(node).first().json.headers?.['set-cookie'] || [];\n  return (Array.isArray(sc) ? sc : [sc]).map(c => String(c).split(';')[0]);\n};\nconst pairs = [...cookiesFrom('Get Login Page'), ...cookiesFrom('Login')];\nconst byName = {};\nfor (const p of pairs) { const name = p.split('=')[0]; if (name) byName[name] = p; }\nconst cookie = Object.values(byName).join('; ');\nconst products = $('Webhook').first().json.body.products || [];\nreturn products.map(p => ({ json: {\n  productNumber: String(p.tingstad_id),\n  amount: p.quantity,\n  cookie,\n} }));"
      }
    },
    {
      "name": "AddToCart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1220, 300],
      "notes": "Runs once per product. Adds it to the account's server-side cart. Article number alone is enough; productId/ticketId left blank (verified).",
      "parameters": {
        "method": "POST",
        "url": "https://www.tingstad.com/se-sv/fixed/cart/AddToCart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Cookie", "value": "={{ $json.cookie }}"},
            {"name": "X-Requested-With", "value": "XMLHttpRequest"}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/x-www-form-urlencoded",
        "body": "={{ 'productNumber=' + encodeURIComponent($json.productNumber) + '&amount=' + encodeURIComponent($json.amount) + '&productId=&ticketId=' }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 300],
      "notes": "Collapse per-item AddToCart results into one summary for the webhook response.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst total = items.length;\nconst failed = items.filter(i => (i.json.statusCode || 200) >= 400).length;\nreturn [{ json: { ok: failed === 0, count: total, added: total - failed, failed } }];"
      }
    },
    {
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1620, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Pick Account", "type": "main", "index": 0}]]},
    "Pick Account": {"main": [[{"node": "Get Login Page", "type": "main", "index": 0}]]},
    "Get Login Page": {"main": [[{"node": "Login", "type": "main", "index": 0}]]},
    "Login": {"main": [[{"node": "Build Items", "type": "main", "index": 0}]]},
    "Build Items": {"main": [[{"node": "AddToCart", "type": "main", "index": 0}]]},
    "AddToCart": {"main": [[{"node": "Summarize", "type": "main", "index": 0}]]},
    "Summarize": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  }
}